@page
@model Final3312.Pages.Posts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="post.UserID" class="control-label"></label>
                <input asp-for="post.UserID" class="form-control" />
                <span asp-validation-for="post.UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="post.postedPath" class="control-label"></label>
                <input asp-for="post.postedPath" class="form-control" />
                <span asp-validation-for="post.postedPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="post.postTime" class="control-label"></label>
                <input asp-for="post.postTime" class="form-control" />
                <span asp-validation-for="post.postTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
